<div align="center">

# Some Stars

⭐ <a href="https://guohekui.github.io/zh/"  target="_blank">Guohekui</a>的star列表，每小时自动更新 ⭐

</div><br>

## Table of Contents

<% for(let [language, repositories] of stars) { %>
## <%= language %>
  <% for(let repo of repositories) { %>
- [<%= repo.full_name %>](<%= repo.html_url %>) - <%= repo.description %> - 
  <% for(let topic of repo.topics) { %> <span style="color:red;">**<%= topic %>**</span>, <% } %>
  <% } %>
<% } %>